[Unit]
Description=Homelab Secrets Rotation Timer
Requires=homelab-secrets-rotation.service

[Timer]
OnCalendar=Sun *-*-* 03:00:00
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target