[Unit]
Description=Run Pi Power Optimization hourly
Requires=pi-power-optimize.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Persistent=true
RandomizedDelaySec=15min
AccuracySec=1m

[Install]
WantedBy=timers.target