[Unit]
Description=TinyBot Telegram Bot
After=network.target

[Service]
Type=simple
User=vansh
WorkingDirectory=/home/vansh/raspi-devops-homelab/tinybot
ExecStart=/home/vansh/raspi-devops-homelab/tinybot/venv/bin/python3 /home/vansh/raspi-devops-homelab/tinybot/pi/tinybot.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
